﻿
@{
    ViewBag.Title = "Dashboard";
}

<h2>Montion Board</h2>

<form class="form-inline" style="margin-bottom:20px">
    <div class="form-group mb-2">
        <label>Date :</label>
        <input type="date" class="form-control">
    </div>
    <button type="button" class="btn btn-secondary mb-2">Search</button>
</form>
<div style="overflow-x:auto">
    <table class="table table-bordered mt-5" id="table-dashboard">
        <thead>
            <tr>
                <th rowspan="2" class="text-center w-100">Machine</th>
                @for (var i = 0; i < 24; i++)
                {
                    TimeSpan time = new TimeSpan(i, 0, 0);
                    <th colspan="60" class=" text-center w-100">@time.ToString(@"hh\:mm")</th>
                }
            </tr>
            <tr>
                @for (var i = 0; i < 24; i++)
                {
                    <th colspan="15" class="text-center"><span>15</span></th>
                    <th colspan="15" class="text-center"><span>30</span></th>
                    <th colspan="15" class="text-center"><span>45</span></th>
                    <th colspan="15" class="text-center"><span>60</span></th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>machien 1</td>
                @for (var i = 0; i < 24; i++)
                {

                    <td style="background-color:green" colspan="3" style="width:30%;" > <span style="display:none;">d</span></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:red" colspan="3"></td>
                    <td style="background-color:yellow" colspan="5"></td>

                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>

                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>

                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:green"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:red"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                    <td style="background-color:yellow"></td>
                }
            </tr>
        </tbody>

    </table>
</div>

<style>
    #table-dashboard {
        border-spacing: 0;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: auto;
    }
    #table-dashboard tbody td {
        table-layout: fixed;
        border-spacing: 0;
        border: none;
        width: 1%;
    }
    
</style>
@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script type="text/JavaScript">

        $(document).ready(function () {
            /*$('#table-dashboard').dataTable({
                "scrollX": true,
                "ordering": false,
                "searching": false,
                "paging": true,
                "dom": '<"top">t<"bottom" il><"clear">',
                "fixedColumns": true
            });*/

            $('#table-dashboard tbody td').on("click", function () {
                alert($(this).text());
            });
        });

      
    </script>
}